<nav class="navbar navbar-light bg-primary">
    <div class="container-fluid">
        <h1 style="color: white ;">
            Angular CRUD
        </h1>   
  
        <div class="d-flex">
                <!-- display buttons in the nav bar (paths,routes...) -->

          <button routerLink="/about" type="button" class="btn btn-primary"> A propos </button>
          <button routerLink="/emplacement" type="button" class="btn btn-primary"> Emplacement </button>

            <!-- add employee -->

            <button (click)="clickAddEmployee()" type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal"> 
                Add employee
            </button>
                  <!-- button logout -->

            <button routerLink="/login" class="btn btn-danger mx-4">Log out</button>
        </div>
    </div>
</nav>
<table class="table mt-2">
    <thead>
            <!-- display the titles of the colums of the table -->

        <tr>
            <th scope="col">ID</th>    
            <th scope="col">First Name</th>    
            <th scope="col">Last Name</th>    
            <th scope="col">Email</th>  
            <th scope="col">Mobile Number</th>    
            <th scope="col">salary</th>    
            <div class="row">

              <div class="input-group col-md-4">
                  <input class="form-control py-2" type="text" placeholder="Search Here" [(ngModel)]="term">
                  <span class="input-group-append">
                      <button class="btn btn-outline-primary  mx-5" type="button">
                         search <i class="fa fa-search"></i>
                      </button>
                  </span>
              
                </div>
          </div>
        </tr>
        
    </thead>
    <tbody> 
      <!-- display the liste of the table and filtering search and pagination -->
        <tr *ngFor="let row of employeeData | filter :term | paginate: { itemsPerPage: 5, currentPage: p}">
          <td>{{row.id}}</td>
          <td>{{row.firstName}}</td>
          <td>{{row.lastName}}</td>
          <td>{{row.email}}</td>
          <td>{{row.phone}}</td>
          <td>{{row.salary}}</td>
          <td>
                  <!-- crud delete and edit in the table -->

            <button (click)="onEdit(row)" type="button" class="btn btn-primary" data-bs-toggle="modal"
              data-bs-target="#exampleModal"> Edit </button>
            <button (click)="deleteEmployee(row)" class="btn btn-danger mx-4"> Delete </button>
          </td>
        
        </tr>
      
        
    </tbody>
</table>
      <!-- display the button pagination -->

<pagination-controls (pageChange)="p = $event" class="float-right"></pagination-controls>



  <div class="card" style="width: 18rem;">
    <img class="card-img-top" src="\assets\image1.jpg" alt="Card image cap">
    <div class="card-body">
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    </div>
  </div>
  <div class="card" style="width: 18rem;">
    <img class="card-img-top" src="\assets\image1.jpg" alt="Card image cap">
    <div class="card-body">
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    </div>
  </div>
  <div class="card" style="width: 18rem;">
    <img class="card-img-top" src="\assets\image1.jpg" alt="Card image cap">
    <div class="card-body">
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    </div>
  </div>


 <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Employee Details</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          
            <form [formGroup]="formValue">
                <div class="mb-3">
                  <label for="exampleInputEmail1" class="form-label">First Name</label>
                  <input type="text" formControlName="firstName" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                </div>
                <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">Last Name</label>
                    <input type="text" formControlName="lastName" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                  </div>
                <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">Email address</label>
                    <input type="email" formControlName="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                  </div>
                <div class="mb-3">
                  <label for="exampleInputPassword1" class="form-label">Mobile phone</label>
                  <input type="number" formControlName="phone" class="form-control" id="exampleInputPassword1">
                </div>
                <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">Salary</label>
                    <input type="email" formControlName="salary" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                </div>
               
              </form>

        </div>
        <div class="modal-footer">
          <button type="button" id="cancel" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" *ngIf="showAdd" (click)="postEmployeeDetails()" class="btn btn-primary">Add</button>
          <button type="button" *ngIf="showUpdate" (click)="updateEmployeeDetails()" class="btn btn-primary">Update</button>
        </div>
      </div>
    </div>
  </div>
 
 





  
  